* {
    background: #ffffff;
}

/* ***** HEADER ***** */

h1 {
    font-size: 2em;
    margin-bottom: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

.small-text {
    font-size: 0.75em;
}


/* ***** BODY ***** */

body {
    font-family: "Fira Sans", system-ui;
    line-height: 1.5;
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.img {

    width: 350px;
    height: 100%;
    aspect-ratio: auto;
    margin: 10px;
    border: 0.25px solid #000;
}

/* ***** FOOTER ***** */

footer {
    margin: 4em 0em 1em 0em;
    text-align: center;
}