:root {
  --bg-color: #fffffe;
  --text-color: #000000;
  --secondary-color: #555555;
  --link-color: dodgerblue;
}

body.dark-mode {
  --bg-color: #222111;
  --text-color: #eeeeee;
  --secondary-color: #bbbbbb;
  --link-color: #82caff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

* {
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    fill 0.5s ease;
}

/* ***** HEADER ***** */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.small-text {
  font-size: 0.75em;
}

.socials ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.35rem 0.5rem;
  position: absolute;
  top: 100%;
  z-index: 1;
  font-size: 1rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#summary {
  margin: 2rem 0rem;
  text-align: center;
}

p {
  margin: 0;
}

/* ***** BODY ***** */

#cv-container {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  max-width: 70%;
  margin: 4rem auto;
  padding: 0 1rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(184, 77, 120);
}

h2 {
  font-weight: 600;
  margin-top: 3rem;
}

.academic-experience {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.academic-experience .period {
  width: 8rem;
  font-weight: 400;
  flex-shrink: 0;
}

.academic-experience .detail {
  flex-grow: 1;
}

.academic-experience .institution {
  font-weight: bold;
}

.academic-experience .academic-position-department {
  display: inline;
}

.probono-engagement {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
}

.probono-engagement .period {
  width: 8rem;
  font-weight: 400;
  flex-shrink: 0;
}

.probono-engagement .detail {
  flex-grow: 1;
}

.italics-text {
  font-style: italic;
}

.other-experience {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
}

.other-experience .period {
  width: 8rem;
  font-weight: 400;
  flex-shrink: 0;
}

.other-experience .detail {
  flex-grow: 1;
}

.achievement {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
}

.achievement .year {
  width: 5rem;
  font-weight: 400;
  flex-shrink: 0;
}

.achievement .detail {
  flex-grow: 1;
}

.publication {
  margin-bottom: 1.25rem;
}

.title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.journal {
  font-style: italic;
}

.meta {
  color: var(--secondary-color);
  font-size: 0.95em;
}

.equal-note {
  font-size: 0.85em;
  color: var(--secondary-color);
}

.presentation {
  display: flex;
  gap: 1em;
  margin-bottom: 1.25em;
}

.presentation .period {
  width: 5rem;
  font-weight: 400;
  flex-shrink: 0;
}

.presentation .detail {
  flex-grow: 1;
}

.presentation-title-type {
  display: flex;
}

.presentation-title {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.presentation-note {
  color: var(--secondary-color);
  font-size: 0.95em;
}

.presentation-organization {
  font-style: italic;
}

/* ***** FOOTER ***** */

footer {
  margin: 8em 0em 1em 0em;
  text-align: left;
  font-size: 0.9em;
}

/* ***** LIGHT DARK MODE BUTTON ***** */

#light-dark-mode {
  position: fixed;
  top: 7.5%;
  left: 5%;
  width: 3rem;
  height: 3rem;
  background-color: var(--bg-color);
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0.3, 0.3);
  z-index: 100;
}
