* {
    background: #FFFFFE;
}

/* ***** HEADER ***** */

h1 {
    font-size: 2em;
    margin-bottom: 2rem;
    text-align: center;
}

.small-text {
    font-size: 0.75em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

#summary {
    margin: 2em 0em;
    text-align: center;
}

p {
    margin: 0;
}

/* ***** BODY ***** */

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(184, 77, 120);
}

body {
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5;
    max-width: 800px;
    margin: 4rem auto;
    padding: 0 1rem;
}

h2 {
    font-weight: 600;
    margin-top: 2em;
}

.academic-experience {
    display: flex;
    gap: 1em;
    margin-bottom: 1.25em;
}

.academic-experience .period {
    width: 120px;
    font-weight: bold;
    flex-shrink: 0;
}

.academic-experience .detail {
    flex-grow: 1;
}

.academic-experience .institution {
    font-weight: bold;
}

.academic-experience .academic-position-department {
    display: flex;
}

.probono-engagement {
    display: flex;
    gap: 1em;
    margin-bottom: 0.5em;
}

.probono-engagement .period {
    width: 120px;
    font-weight: bold;
    flex-shrink: 0;
}

.probono-engagement .detail {
    flex-grow: 1;
}

.italics-text {
    font-style: italic;
}

.other-experience {
    display: flex;
    gap: 1em;
    margin-bottom: 0.5em;
}

.other-experience .period {
    width: 120px;
    font-weight: bold;
    flex-shrink: 0;
}

.other-experience .detail {
    flex-grow: 1;
}

.achievement {
    display: flex;
    gap: 1em;
    margin-bottom: 0.5em;
}

.achievement .year {
    width: 50px;
    font-weight: bold;
    flex-shrink: 0;
}

.achievement .detail {
    flex-grow: 1;
}

.publication {
    margin-bottom: 1.25rem;
}

.title {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.journal {
    font-style: italic;
}

.meta {
    color: #555;
    font-size: 0.95em;
}

.equal-note {
    font-size: 0.85em;
    color: #666;
}

.presentation {
    display: flex;
    gap: 1em;
    margin-bottom: 1.25em;
}

.presentation .period {
    width: 100px;
    font-weight: bold;
    flex-shrink: 0;
}

.presentation .detail {
    flex-grow: 1;
}

.presentation-title-type {
    display: flex;
}

.presentation-title {
    font-weight: bold;
    margin-bottom: 0.25rem;

}

.presentation-organization {
    font-style: italic;
}

/* ***** FOOTER ***** */

footer {
    margin: 4em 0em 1em 0em;
    text-align: center;
}