* {
    background: #ffffff;
}

/* ***** HEADER ***** */

h1 {
    font-size: 2em;
    margin-bottom: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

.small-text {
    font-size: 0.75em;
}


/* ***** BODY ***** */

body {
    font-family: "Fira Sans", system-ui;
    line-height: 1.5;
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.img {

    width: 350px;
    height: 100%;
    aspect-ratio: auto;
    margin: 10px;
    border: 0.25px solid #000;
}

/* ***** FOOTER ***** */

footer {
    margin: 4em 0em 1em 0em;
    text-align: center;
}

/* ***** BACK TO PORTFOLIO ***** */
#badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(198, 142, 222);
    bottom: 55px;
    right: 55px;
    line-height: 1;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

#badge:hover {
    cursor: pointer;
    background-color: #e5b9b9;
}

.rotating-element {
    animation: spin-animation 5s linear infinite; 
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End at 360 degrees (a full circle) */
  }
}