* {
    margin: 0;
}

body {
    max-width: 800 px;
    font-family: "Lora", serif;
    margin: 50px 100px;
    background-color: #fffefa;
    color: #111;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    color: #FF69B4;
    text-decoration: underline;
    text-decoration-style: double;
    font-weight: 800;
}

#profile-links {
    text-align: right;
    font-size: 16px;
}

#profile-links a::before {
    content: "〈";
}

#profile-links a::after {
    content: "〉";
}

h1 {
    margin: 10px 0px;
}

#updated {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin: 40px 0px 10px 0px;
}

h2::before {
    content: ">> ";
}

h4 {
    font-size: 18px;
    margin: 15px 0px;
}

.title {
    font-weight: 800;
    margin: 10px 0px;
}

.academic-position-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-bottom: 10px;
}

.academic-position p, .academic-position ul {
    margin-left: 25px;
}

.academic-position-other {
    margin-top: 10px;
    font-size: 14px;
}

.academic-position ul {
    font-size: 14px;
}



#publications-list > ol > li {
    margin-bottom: 20px;
}

#publications-list {
    margin-left: 50px;
}

#publications-list > ol > li > .author-list,
#publications-list > ol > li > .journal,
#publications-list > ol > li > a {
    margin-left: 25px;
}

#publications-list > ol > li > .author-list::before {
    content: "Authors: ";
    font-style: normal;
    font-weight: 400;
    color: #111;
}

#publications-list > ol > li > .journal::before {
    content: "Journal: ";
    font-style: normal;
    font-weight: 400;
    color: #111;

}

#publications-list > ol > li > a::before {
    content: "DOI: ";
    font-style: normal;
    font-weight: 400;
    color: #111;
}


.n-lin {
    font-weight: 800;
    text-decoration: underline 2px;
}

.journal {
    font-style: italic;
    font-weight: 800;
}

#full-publications {
    margin: 25px 0px;
    font-weight: 800;
}